@page "/"
@inject IJSRuntime JSRuntime

<MudCard Square="true">
	<MudCardHeader Class="header">
		<h1>DataGrid Exporter</h1>
		<MudButton Color="Color.Info"
				   EndIcon="@Icons.Material.Filled.FileDownload"
				   IconSize="Size.Large"
				   OnClick="ExportToExcel"
				   Ripple="true"
				   Style="font-weight: bold;"
				   Variant="Variant.Filled">
			Download Data
		</MudButton>
	</MudCardHeader>
	<MudCardContent>
		<MudDataGrid @ref="_grid"
					 Bordered=true
					 Class="thick-outline"
					 Dense="true"
					 FixedHeader="true"
					 Height="333px"
					 Items="@_items"
					 Outlined="true"
					 T="Row">
			<Columns>
				<PropertyColumn Property="x => x.column_1" Title="COLUMN 1" HeaderStyle="font-weight: bold;" />
				<PropertyColumn Property="x => x.column_1" Title="COLUMN 2" HeaderStyle="font-weight: bold;" />
				<PropertyColumn Property="x => x.column_1" Title="COLUMN 3" HeaderStyle="font-weight: bold;" />
				<PropertyColumn Property="x => x.column_1" Title="COLUMN 4" HeaderStyle="font-weight: bold;" />
				<PropertyColumn Property="x => x.column_1" Title="COLUMN 5" HeaderStyle="font-weight: bold;" />
			</Columns>
		</MudDataGrid>
	</MudCardContent>
</MudCard>

@code {
	public record Row(int column_1, int column_2, int column_3, int column_4, int column_5);

	private MudDataGrid<Row> _grid = default!;
	private List<Row> _items = new List<Row>();
	private async Task ExportToExcel() => await _grid.ExportDataGrid(JSRuntime, "export.xlsx");

	protected override void OnInitialized()
	{
		for (var i = 0; i < 100; i++)
		{
			_items.Add(new Row(i, i, i, i, i));
		}
	}

}